# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/
poetry.lock
dist/
build/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# MyPy
.mypy_cache/
.dmypy.json
.pyre/

# Logs and temp files
*.log
*.tmp
*.temp
*.out
*.err

# dotenv environment variables file
.env
.env.*

# VS Code and IDE specific
.vscode/
.idea/

# Poetry virtual environment directories
poetry.lock
poetry.toml
poetry/

# macOS files
.DS_Store

